{{!-- <tr class="table-row">
    <td class="table-first-col">{{id}}. {{burger_name}}</td>
    <td><button class="change-devour" data-id="{{id}}">Devour it!</button></td> 
</tr> --}}

{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}
